@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0 44px 0;
}
.menu__list{
  display: flex;
}
.user-nav{
  display: flex;
  justify-content: space-between;
}
.user-nav-1{
width: 51px;
height: 51px;
border-radius: 25px;
background-color: #a3bbc8;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
margin-right: 20px;
}
.user-nav-2{
  display: flex;
  width: 178px;
  height: 51px;
  border-radius: 26px;
  background-color: #fcd7b6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 41px;
  padding-right: 42px;
  margin-right: 18px;
}
.user-nav-2--1{
  padding-right: 41px;
}
.user-nav-3{
  width: 51px;
  height: 51px;
  border-radius: 25px;
  background-color: #a3bbc8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list-link{
  font-family: Rubik;
  font-size: 15px;
  line-height: 12px;
  font-weight: 500;
  color: #436372;
  margin-right: 33px;  
}
.user-nav-2--1,
.user-nav-2--2{
  position: relative;
}
.user-nav__num{
  position: absolute;
  top: -10px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  line-height: 16px
}




@import 'media';